$color__primary: #c69c6d;

$color__background-body: #252525;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #fff;
$color__link-visited: #fff;
$color__link-hover: #fff;

$color__text-main: #e2d5c4;

$color__border-button: #c69c6d;
$color__border-button-hover: #c69c6d;
$color__border-button-focus: #c69c6d;
$color__border-input: #ccc;
$color__border-abbr: #666;
